#game-over-screen {
    display: none; /* Hide the game over screen by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: #FFF;
    text-align: center;
    padding-top: 200px; /* Adjust as needed */
    font-size: 24px; /* Adjust as needed */
  }
  
  #game-over-screen h1 {
    font-size: 48px; /* Adjust as needed */
    margin-bottom: 20px;
  }